{% extends 'bootstrap/base.html' %}

{% block title %}
Manufacturers
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Website</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        {% for manufacturer in manufacturers %}
        <tr>
          <td>{{ manufacturer.name }}</td>
          <td>{{ manufacturer.website }}</td>
          <td>{{ manufacturer.country }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
