{% extends 'bootstrap/base.html' %}

{% block title %}
Products
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Manufacturer</th>
          <th>Category</th>
          <th>Price</th>
          <th>In stock</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.manufacturer }}</td>
          <td>{{ product.category }}</td>
          <td>US${{ product.price / 100 }}</td>
          <td>{{ product.in_stock }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
